.iphone {
  width: 100%;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 840px) {
  .iphone {
    top: 60px;
  }
}

@media all and (min-width: 1600px) {
  .iphone {
    top: 150px;
  }
}
