.App {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  /* height: 100dvh; */
  color: #ffffff;
  position: relative;
  /* overflow: hidden; */
  /* padding: 10px; */
}
